.sec-container {
  background-color: #d6e7f1;
}
.sub {
  background-color: #d6e7f1;
  border-radius: 13px;
  width: 117px;
}
.btn-shop {
  width: 213px;
  border-radius: 9px;
  height: 40px;
  background-color: #fe7318;
  color: white;
  font-size: 14px;
  font-family: -webkit-body;
  font-weight: bold;
}
.text {
  font-size: 22px;
  /* width: 1018px; */
  font-family: monospace;
}
hr {
  width: 50%;
}
.name {
  color: #218fe0;
}
.footer {
  text-align: center;
}
.wrap {
  text-align: center;
  width: 50vw;

  margin: auto;
}
span {
  border: 0.5px solid gray;
  width: 10px;

  position: relative;
}
